body {
  background-color: rgb(83, 83, 83);
  color: rgb(0, 0, 0);
}

#title {
  font-family: 'Great Vibes', cursive;
  font-size: 130px;
}

#sub-title {
  font-family: 'Great Vibes', cursive;
  font-size: 60px;
}

#photo {
  border-radius: 20px;
}

#timeline {
  font-size: 26px;
  margin-left: 20%;
  margin-right: 20%;
}

#timeline li {
  padding-top: 10px;
  padding-bottom: 10px;
}

#list-title {
  text-decoration: underline;
}

#highlights {
  font-size: 20px;
  margin-left: 20%;
  margin-right: 20%;
}

a:link {
  color: rgb(51, 153, 255);
}

a:visited {
  color: rgb(0, 0, 51);
}
